@model helpmepickmymain.Models.ViewModels.User
@{
}


<div class="jumbotron">
    <div class="container text-center">
        <h1>Select Spec!</h1>
        <p>Select all Specs you are deciding between</p>
    </div>
</div>

<form asp-action="AestheticsRemainingChoices" method="post">
    <div>
        <label>Select Specs:</label>
        <select asp-for="SelectedSpecs" class="form-control" multiple="multiple">
            @foreach (var spec in Model.PotentialSpecsList)
            {
                <option value="@spec.Value">@spec.Text</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Next</button>
</form>
<br>

@* <div class="container-fluid bg-3 text-center">
    <div class="row">
        @foreach (var potentialRace in Model.PotentialRaces)
        {
            <div class="col-sm-3">
                <span class="badge bg-secondary">@potentialRace.Name</span>
            </div>
        }
    </div>
</div> *@
<footer class="container-fluid text-center">
    <p></p>
</footer>