@model helpmepickmymain.Models.ViewModels.User
@{
}


<div class="jumbotron">
    <div class="container text-center">
        <h1>Select Classes!</h1>
        <p>Select all Classes you are deciding between</p>
        <p>results filtered based on selected faction, race, and role</p>
    </div>
</div>

<form asp-action="AestheticsSpecSelect" method="post">

    @* passing selected role through form *@
    <input type="hidden" asp-for="SelectedRole" />

    <div>
        <label>Select Classes:</label>
        <select asp-for="SelectedWowClasses" class="form-control" multiple="multiple">
            @foreach (var wowClass in Model.PotentialWowClassesList)
            {
                <option value="@wowClass.Value">@wowClass.Text</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Next</button>
</form>
<br>

@* <div class="container-fluid bg-3 text-center">
    <div class="row">
        @foreach (var potentialRace in Model.PotentialRaces)
        {
            <div class="col-sm-3">
                <span class="badge bg-secondary">@potentialRace.Name</span>
            </div>
        }
    </div>
</div> *@
<footer class="container-fluid text-center">
    <p></p>
</footer>