@model helpmepickmymain.Models.ViewModels.SpecRecommendation
@{
}
<div class="jumbotron">
    <div class="container text-center">
        <h1>Your New Main:</h1>
        <p>@Model.Recommendation</p>
    </div>
</div>
<footer class="container-fluid text-center">
    <p></p>
</footer>