@model List<helpmepickmymain.Models.Domain.Faction>
@{
}
<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Show All Factions - Admin Functionality</h1>
    </div>
</div>

<div class="container py-5">
    @if (Model == null)
    {
        <p>The Model is Null</p>
    }
    else if (Model.Any())
    {
        <div class="container py-2">
            <h4>Note to Admin: To delete any Faction, you must assign all related races to a different faction</h4>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Races</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var faction in Model)
                {
                    <tr>
                        <td>@faction.Id</td>
                        <td>@faction.Name</td>
                        <td>
                            <div class="d-flex">
                                @foreach (var race in faction.Races)
                                {
                                    if (race == null)
                                    {
                                        race.Name = "None";
                                    }
                                    else
                                    {
                                        <span class="badge bg-secondary">@race.Name</span>
                                    }
                                }
                            </div>
                        </td>
                        <td>
                            <a asp-area="" asp-controller="AdminFaction"
                               asp-action="Edit"
                               asp-route-id="@faction.Id">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Factions Found</p>
    }
</div>